@import "bootstrap";

.dropdown a {
  text-decoration: none; 
}

.dropdown-menu li a {
  text-decoration: none;
}

.dropdown-menu li a:hover {
  text-decoration: none;
  background-color: #eaeaea;
  color: blue;
}

.nav-dropdown {
  text-decoration: none;
  font-size: 28px;
}